<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.xbin.hand_mediapipe_plugin">
<!--应用权限-->
    <!-- For loading images from gallery -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- For using the camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
</manifest>
